@font-face {
    font-family:Jura;
    src: url('Jura-Regular.ttf');
}

@font-face {
    font-family:JuraL;
    src: url('Jura-light.ttf');
}

.join-us-header {
    display: table;
    position: relative;
    width: 100%;
    height: 30%;
    background:url(callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: opacity(96%);
    margin-top:0% !important;
    border-bottom:1px solid #9e9e9e;
}

#navbar-brand{
	font-family: Pacifico;
	color: #FFB74D;
	text-shadow: 1px 2px 1px #424242;
	font-size: 30px;
}

#join-us-navbar-brand{
	font-family: Pacifico;
	color:  #FFB74D;
	text-shadow: 1px 2px 1px #424242;
	font-size: 30px;	
}

#AppendedImages{
    width:32.3%;
    height: 100%;
    padding: 2% 2% 2% 2%;
}

.navbar li a{
	font-family: Raleway;
	color: white;
	text-shadow: 1px 1px 1px #424242;
	font-size: 18px;
	background: transparent !important;
	text-align: center;
}

.navbar li a:hover{
		color: #FFB74D;
	background: transparent;
}

.navbar li a:active{
		color: #FFB74D;
	background: transparent;
}

#AppendedImage{
    width:102%;
    height: 100%;
    padding: 6% 8% 6% 2%;

}


@media only screen and (max-width: 766px) {
.collapse{background-color: #424242;}
}

#AppendImage:hover{
	box-shadow:0 2px 3px -2px black; 
	border: 1px solid #9e9e9e;

}

.selected-image{
	box-shadow:0 14px 12px -5px #616161;
	border: 2px solid #222;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(30%);
}

#navbar{
	font-family: Josefin Sans !important;
}

#headerMessage{
	font-size:45px; 
	color:white;
	text-shadow:1px 1px 1px #424242;
	text-align: center !important;
	padding-left: 5%;
	padding-right: 5%;
}

.scrollnav{
	background: #424242 !important;
	height: 65px !important;
	color: #424242 !important;
	margin-bottom: 0px !important;
}

#headerMessage_style{
	font-size:49px; 
	color:black;
    text-shadow: 1px 1px 1px #424242 !important;
}

#headerButton{
	width:27%;
	height:50px;
	margin-top:5%; 
	font-family:Lato; 
	box-shadow:0 2px 3px -2px black; 
	font-size:18px; 
	color: #FFB74D;
	border:0px solid #424242; 
	border-radius:3px; 
	background: #222;
	outline:none;

}

#headerButton:hover{ 
		color: #222;
		background: #FFA726;
	/*border:1px solid #424242; 
	box-shadow:0 12px 10px -7px black; */

}

#serviceinfo{
	width:100%; 
	margin-top:2%; 
	font-family:Raleway;
	border-bottom: 1px solid #e0e0e0;
	/*box-shadow: 2px 2px 3px #e0e0e0;*/
	background:transparent;
}

#product-pitch{
	border-top:1px solid #e0e0e0; 
	width: 100%;
	height:70%;
}

#pitch-heading{
	font-size:35px; 
	text-align:left; 
	color:#424242; 
	height:27%; 
	width:100%; 
	margin-top:2%; 
	font-family:Raleway;
}

#serviceinfo_container{
	padding:0px 0px 0px 0px; 
	width:100%; 
	border-top:1px solid #e0e0e0; 
	height:100%;
}

#serviceinfo_describe{
	height:350px;
	margin-top:3%;
}

#serviceinfo_others{
	/*border:0px solid black; */
	border-radius:100%; 
	width:150px; 
	height:150px; 
	margin: 0 auto; 
	box-shadow:2px 2px #424242;
}

#serviceinfo_icon_container{
	/*border:0px solid black;*/ 
	border-radius:100%; 
	width:150px; 
	height:150px; 
	margin: 0 auto; 
	border: 1px solid #e0e0e0;
	/*box-shadow:0 2px 3px -2px #616161;*/
	background-color:white;
}


#firstAside{
	font-size:35px; 
	text-align:center; 
	color:#424242; 
	height:27%; 
	width:100%; 
	margin-top:2%; 
	font-family:Raleway;

}

#secondAside{
	width:100%; 
	font-size:35px; 
	text-align:center; 
	color:#424242; 
	height:27%; 
	margin-top:2%; 
	font-family:Raleway;
}

#description{
	height:65%; 
	border-top:1px solid #E0E0E0; 
	background:transparent;
}

#description_container{
	height:100%;
}

#header-bottom-border{
	border-bottom:1px solid #222;
	width:16%;
	text-align:center !important;
	margin:auto;
	box-shadow:1px 2px 1px #616161;
	margin-bottom: 1%;
}

#getsearchbutton{
	visibility: hidden;
	opacity: 0;
	width:31%;
	height:50px; 
 	box-shadow:0 2px 3px -2px black; 
 	font-family:Lato; 
	font-size:18px; 
	color: #424242;
	border:0px solid #424242; 
	border-radius:3px; 
	background: #FFB74D;
	outline:none;
}


.bx-wrapper, .bx-viewport {
    height: 250px !important; 
    width: 100% !important;
    position: none !important;
}


#fileuploadbutton{
	width:31%;
	height:50px; 
    font-family:Lato; 
	font-size:18px; 
	color: #FFB74D;
	border:0px solid #424242; 
	border-radius:3px; 
	background: #424242;
	outline:none;
}

#contact-send-button{
	margin-top: 2%;
	width:31%;
	height:50px; 
    font-family:Lato; 
	font-size:18px; 
	color: #FFB74D;
	border:0px solid #424242; 
	border-radius:3px; 
	background: #424242;
	outline:none;
}

#join-us-submit{
	margin-top: 6%;
	width:100%;
	height:50px; 
    font-family:Lato; 
	font-size:18px; 
	color: #FFB74D;
	border:0px solid #424242; 
	border-radius:3px; 
	background: #424242;
	outline:none;
	text-align: center;
}

#join-us-submit:hover{
	color: #424242;
	background: #FFB74D;
	box-shadow:0 2px 3px -2px black; 
}

#fileuploadbutton:hover, #getsearchbutton:hover,  #contact-send-button:hover{
	/*box-shadow:0 9px 7px -5px #616161;*/
	border: 1px solid white;
}

#fileuploadbutton:active ,#getsearchbutton:active, #AppendImage{
box-shadow: inset 1px 1px 1px #616161;

}

#AppendImage{
	height: 100%;
	width:100%;
}

#search-form
{
    outline: none;
    border: 1px solid #e0e0e0;
    /*box-shadow:0 9px 7px -7px #616161; */
    display: block;
    font-family: Raleway;
    font-size: 20px;
    line-height: 50px;
    /*margin: 2% auto;*/
    padding: 11px 20px 0 70px;
    resize: none;
    height: 100%;
    width: 100%;
    background-image: -moz-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -moz-radial-gradient(3.9% 46% , circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%); 
    background-image: -webkit-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 43.5%, transparent 0%);
    -webkit-background-size:  100% 50px;
    background-size: 100% 50px;
}


#info-textarea{
	margin: auto;
    outline: none;
    border: 1px solid #e0e0e0;
    display: block;
    font-family: Raleway;
    font-size: 22px;
    line-height: 50px;
    /*margin: 2% auto;*/
    padding: 11px 20px 0 70px;
    resize: none;
    height: 100%;
    width: 65%;
    background-image: -moz-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -moz-radial-gradient(3.9% 46% , circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%); 
    background-image: -webkit-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 43.5%, transparent 0%);
    -webkit-background-size:  100% 50px;
    background-size: 100% 50px;
}


.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: solid #fff 5px;
    left: -5px;
    background: #fff;
}


.popover-content {
    font-family: Josefin Sans;
    font-size: 15px;
    color:black;
}

.popover{
    border-radius:1px;
	box-shadow:0 9px 7px -7px #424242;
}

.popover:hover{
	box-shadow:0 9px 7px -7px #616161;
    
}

#description_and_sideimage{
	height:70%; 
	width:100%;
}

#carousel_div{
	/*background: #f5f5f5;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	margin-top:15%; 
	margin-bottom:20%;*/
}

#contact{
	height: 100% !important;
	width: 100% !important;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

#contact-us-container{
	height: 100%;
	text-align: center;
}

#email, #name{
	outline: none !important;
	text-align: center;
	width: 80% !important;
	height: 40px;
	border-radius: 0px !important
}

#email:active, #name:active{
	/*border: 1px solid #a6a6a6;
	box-shadow:0 2px 3px -2px #424242;*/
}


#info-text-div{
	height: 50%;
}

.carouselbox{
	box-shadow: none !important;
}

.next, .prev{
	border: none;
	outline: none;
	color:white;
	background: #424242;
	border-radius: 0px !important;
}

#navbar-link-4{
	background: #424242 !important;
	color: #FFB74D;
	border-radius: 0px;
	text-shadow:none !important;
}

#join-us-navbar-link-1{
	background: #424242 !important;
	color: #FFB74D;
	border-radius: 0px;
	text-shadow:none !important;
}

#join-us-navbar-link-1:hover{
	background: #FFB74D !important;
	color: #424242;
	border-radius: 0px;
	text-shadow:none !important;
	box-shadow:0 2px 3px -2px black; 
}

#navbar-link-4:hover{
	background: #FFB74D !important;
	color: #424242;
	border-radius: 0px;
	text-shadow:none !important;
	box-shadow:0 2px 3px -2px black; 
}

#navbar-hbg{
	font-size:25px; 
	margin-top:-3px; 
	color:#FFB74D;
	text-shadow: 1px 1px 1px #222;

}

#join-us-form-section{
	width: 100%;
}

#join-us-form{
	margin-top: 2%;
}

#join-us-favorite-project{
	margin: auto;
    outline: none;
    border: 1px solid #e5e5e5;
    display: block;
    font-family:Raleway;
    font-size: 20px;
    line-height: 40px;
    margin-top: 6%;
    resize: none;
    height: 200px;
    width: 100%;
    padding: 0 10px 0 10px;
    -webkit-background-size:  100% 50px;
    background-size: 100% 50px;
    border-radius: 5px;
}

#join-us-name, #join-us-email{
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	outline: none !important;
	width:100%;
    font-family:Raleway;
	height:45px;
	font-size: 20px;
}

#join-us-header-message{
	font-size:45px; 
	color:white;
	text-shadow:1px 1px 1px #424242;
	text-align: center !important;
	padding-left: 5%;
	padding-right: 5%;
}

#join-us-lance{
	font-size:45px; 
	color:white;
	text-shadow:1px 1px 1px #424242;
	text-align: center !important;
	padding-left: 5%;
	padding-right: 5%;
}

#footer-icons{
color: #222;
}